# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ide Files #
.idea
*.iml
out*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*.json
task-two-object-oriented-c/cmake-build-debug/.cmake/api/v1/query/cache-v2
task-two-object-oriented-c/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
task-two-object-oriented-c/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
task-two-object-oriented-c/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
task-two-object-oriented-c/cmake-build-debug/.ninja_deps
task-two-object-oriented-c/cmake-build-debug/.ninja_log
*.obj
*.ninja
task-two-object-oriented-c/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
*.cmake
*.bin
task-two-object-oriented-c/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
task-two-object-oriented-c/cmake-build-debug/CMakeCache.txt
task-two-object-oriented-c/cmake-build-debug/CMakeFiles/clion-environment.txt
task-two-object-oriented-c/cmake-build-debug/CMakeFiles/cmake.check_cache
task-two-object-oriented-c/cmake-build-debug/CMakeFiles/clion-log.txt
task-two-object-oriented-c/cmake-build-debug/CMakeFiles/TargetDirectories.txt
*.o
